:root {
  --primary: #f2b705;
  --secondPrimary: #f29f05;
  --secondary: #2f3d40;
  --accentPurple: #7a77d9;
  --accentPink: #f22786;
  --secondaryPurple: #abbdfa;
  --secondaryPink: #fd88af;
  --secondaryGrey: #b2d5dd;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: "Limelight", sans-serif;
  padding: 100px;
  margin: 0 auto;
}
/* container of gameboy and scoreboard */
#wordgameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* gameboy */
#gameContainer {
  background-color: var(--secondPrimary);
  max-width: 610px;
  width: 610px;
  max-height: 770px;
  height: 770px;
  border-radius: 20px 20px 100px 100px;
  box-shadow: 0px 20px 0px 0px rgba(0, 0, 1, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px groove;
  border-color: var(--primary);
}

h1,
h3 {
  font-size: 32px;
}
h1 {
  box-shadow: inset 1px 1px 2px 2px var(--secondary);
}
/* text colors */
.accent-purple {
  color: var(--accentPurple);
}
.accent-pink {
  color: var(--accentPink);
}
.secondary-purple {
  color: var(--secondaryPurple);
}
.secondary-pink {
  color: var(--secondaryPink);
}
.secondary-grey {
  color: var(--secondaryGrey);
}

#gameScreen {
  background-color: var(--secondary);
  max-width: 520px;
  max-height: 380px;
  width: 90%;
  height: 60%;
  border-radius: 5px;
  border: 5px ridge var(--secondary);
  color: #ffffff;
  font-size: 22px;
}
#contentList {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#gameButton {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#startBtn {
  max-width: 120px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--secondPrimary);
  border-color: var(--secondary);
  color: var(--secondary);
  font-size: 32px;
  font-family: "Limelight", sans-serif;
  cursor: pointer;
}

#displayOnly {
  display: flex;
  width: 75%;
  height: 30%;
  justify-content: space-between;
  align-items: center;
}
#arrowKeys {
  display: flex;
  flex-direction: row;
}
#horizontalArrow {
  background-color: #000000;
  width: 40px;
  height: 90px;
  border-radius: 10px;
  transform: rotate(90deg);
}
#verticalArrow {
  background-color: #000000;
  width: 40px;
  height: 90px;
  border-radius: 10px;
  position: absolute;
}

#circleKeys {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

#circleA,
#circleB {
  background-color: #000000;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  gap: 20px;
}

/* scoreboard */
#boardContainer {
  background-color: var(--secondary);
  color: var(--primary);
  width: 420px;
  max-width: 420px;
  height: 350px;
  max-height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px groove var(--secondary);
  box-shadow: 15px 5px 0px 0px rgba(0, 0, 1, 0.1);
}

#scores {
  width: 80%;
  height: 40%;
  font-size: 24px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}

/* reset button */
#resetBtn {
  max-width: 150px;
  max-height: 45px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-color: var(--secondary);
  background-color: var(--secondPrimary);
  color: var(--secondary);
  font-size: 32px;
  font-family: "Limelight", sans-serif;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  margin-top: 10px;
}

footer a {
  text-decoration: none;
}
footer a:visited {
  color: var(--secondary);
}
footer a:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease-in-out;
}


@media screen and (max-width:320px) {
  body{
    padding:5px;
  }
  #wordgameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  #gameContainer {
    background-color: var(--secondPrimary);
    width: 280px;
    height: 520px;
  }
  #startBtn {
    width: 80%;
    height: 90%;
    font-size: 26px;
  }
  #horizontalArrow {
    width: 20px;
    height: 50px;
  }
  #verticalArrow {
    width: 20px;
    height: 50px;
  }
  #circleA,
  #circleB {
  width: 25px;
  height: 25px;
  gap: 0px;
}
#boardContainer {
  width: 280px;
  height: 250px; 
}
h1,h3{
  font-size: 18px;
}
}


